{%extends "base.html"%}
{%block content%}
				<div class="text">
					<h2>Impressum</h2>
					<span class='impressum'>
					   	Angaben gemäß § 5 TMG<br/>
			  			<br/> 
						Stefanie Raum <br/>
						Marktstraße 6<br/>
						90530 Wendelstein <br/>
						<br/>
						Vertreten durch: Stefanie Raum<br/>
						<br/>
						Kontakt: <br/>
						Telefon: +49.9129.278686<br/>
						Fax:       +49.9129.278688<br/>
						E-Mail: info@rauminteriordesign.com
                    </span>
					<a class='download' href='{{STATIC_URL}}Impressum_Raum_Interior_Design.pdf'>Impressum anzeigen</a>
				</div>
{%endblock%}
