import os
import sys
sys.stdout = sys.stderr

SITE_URL = "http://gtd.gedankenacker.de/"

STATIC_URL = "http://static.gedankenacker.de/gtd/"
STATIC_DIR = "/var/www/static/gtd/"
DB_URL = 'sqlite:///site.db'

AUTH_TYPE = "velruse"
VELRUSE_URL = "http://gedankenacker.de:8808/"

SECRET_KEY = ''

DEBUG = True
